.map {
    position: relative;
    top: 0;
}

.leftpanel-scrolling-content {
    width: 164px;
    padding: 4px;
}

.rightpanel-scrolling-content {
    width: 264px;
    padding: 2px 4px 2px 16px;
}

.color-picker {
    padding: 16px 5px 0px 2px;
}

.color-panel {
    background: url('http://wurmonlinemaps.com/Content/dist/assets/colorback-wom.png');
    color: White;
    padding-bottom: 4px;
}

.color-panel h2 {
    padding: 4px;
}

.color-chit {
    height: 15px;
    padding: 4px;
    margin: 10px;
    border-radius: 15px;
}

.setting-slider.mat-slide-toggle-thumb {
    top: 4px;
}

.slide-icon {
    position: relative;
    top: 6px;
}

.header-icon {
    cursor: pointer;
}

.bottom-bar {
    position: fixed;
    bottom: 0
}

.bottom-hanger {
    position: fixed;
    bottom: 100px;
    width: 240px;
}