.leftpanel-scrolling-content {
    width: 164px;
    padding: 4px;
}

.rightpanel-scrolling-content {
    width: 264px;
    padding: 2px 4px 2px 16px;
}

.color-picker {
    padding: 4px 0;
}

.color-panel {
    background: url('../assets/colorback-wom.png');
    color: White;
}

.color-panel h2 {
    padding: 4px;
}

.color-chit {
    height: 24px;
    padding: 4px;
    margin: 12px;
}

.setting-slider.mat-slide-toggle-thumb {
    top: 4px;
}

.slide-icon {
    position: relative;
    top: 6px;
}

.header-icon {
    cursor: pointer;
}