/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.header-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.ol-mouse-position {
    top: 15px;
    right: 58px;
    position: absolute;
    color: white;
    /* z-index: 100000; */
}